@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F9F9;
}

.dark-mode > body {
  background-color: black;
}

.custom-shadow {
  box-shadow: 0px -5px 4px 0px #0000000d;
}

.p-button:disabled {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
